<div class="body-wrapper">
  <div class="container-fluid">
    <h5 class="card-title fw-semibold mb-4">Create Reservation</h5>
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="appartementNom" class="form-label">Appartement</label>
            <select class="form-control" id="appartementNom" [(ngModel)]="selectedAppartement" name="appartementNom" (change)="loadReservedDates()" required>
              <option *ngFor="let appartement of appartements" [ngValue]="appartement">{{ appartement.name }}</option>
            </select>
            <span class="message">(Sélectionnez un appartement)</span>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Date de début</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="reservation.date_debut" name="date_debut" [matDatepickerFilter]="isDisabledDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="message">(Sélectionnez une date de début)</span>
          </div>
          <div class="mb-3">
            <label for="nombre_nuits" class="form-label">Nombre de Nuits</label>
            <input type="number" class="form-control" id="nombre_nuits" [(ngModel)]="reservation.nombre_nuits" name="nombre_nuits" required>
          </div>
          <div class="mb-3">
            <label for="commission" class="form-label">Commission</label>
            <input type="number" class="form-control" id="commission" [(ngModel)]="reservation.commission" name="commission" required>
          </div>
          <div class="mb-3">
            <label for="prix_nuit" class="form-label">Prix par Nuit</label>
            <input type="number" class="form-control" id="prix_nuit" [(ngModel)]="reservation.prix_nuit" name="prix_nuit" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Reservation</button>
        </form>
      </div>
    </div>
  </div>
</div>
